IF ELSE DAN LOOP

In [1]:
harga =  3000
jumlah = 10
if harga>jumlah:
    print("mahal")

mahal

In [2]:
x = 3
y = 2
z = 2
order ="saya may {0}, fff{2}, ndhd{1}"
print(order.format(x,z,1))

saya may 3, fff1, ndhd2

In [3]:
x = 2
y = 3

if x<y:
    print('ya benar')
if x>y:
    print('ya benar')
if x==y:
    print('ya benar')
if x<=y:
    print('ya benar')
if 'we' in ['we','wa','wo']:
    print('ya benar')

ya benar
ya benar
ya benar

In [4]:
x = 3
y = 4

if x>y:
    print("ya")
if x<y:
    print("salah")

salah

In [5]:
print ("in" in ["we", "wo"])

False

IF ELIF DAN ELSE

In [6]:
harga_jeruk = 50000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Mahal

In [7]:
harga_jeruk = 30000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
elif harga_jeruk<standar_harga:
    print('Murah')
else:
    print('Biasa')

Biasa

In [8]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = 70000
standar_harga = 50000
if harga_jeruk>standar_harga:
    print('Mahal')
else:
    print('Murah')

Mahal

In [9]:
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari sama dengan standar harga maka jeruk itu murah
harga_jeruk = int(input('Input Harga Jeruk='))
standar_harga = 30000
if harga_jeruk>standar_harga:
    print('Mahal')
else:
    print('Murah')

Input Harga Jeruk= 90000

Mahal

In [11]:
x = int(input("masukan x:"))
y = int(input("masukan y:"))

if x>y:
	print("x > y adalah benar")
if x<y:
    print("x < y adalah benar")
else:
    print("x setara dengan y")

masukan x: 80
masukan y: 80

x setara dengan y

quiz
1. Anda adalah penjual pisang. Yang mana pisang anda berharga 3000.
Buatlah sebuah program if-else yg memiliki kondisi, jika seseorang berbelanja di Anda lebih dari 100,000
maka akan diberikan diskon 10%. Kalau lebih dari 50,000 namun kurang dari 100,000 maka akan diberi diskon 5%.
Kalau kurang dari 50,000 maka tidak diberi diskon sama sekali.

In [16]:
print('berapa pisang yang anda beli?')
pisang = int(input())
satupisang = 3000
belanja = satupisang * pisang
if belanja > 100000:
    total = belanja - (belanja (10/100))
    print('total belanja anda' + str(total) + '('+str(belanja) + 'diskon 10%)')
elif belanja > 50000 and belanja < 100000:
    total = belanja - (belanja (5/100))
    print('total belanja anda' + str(total) + '('+str(belanja) + 'diskon 5%)')
else:
    total = belanja
    print('total belanja ' + str (total))

berapa pisang yang anda beli?

 2

total belanja 6000

In [17]:
#Cara print variabel kedalam string
harga = 85500
harga_awal = 90000
diskon = 0.05
print('total belanja anda adalah IDR {} ({} di diskon {} %) '.format(harga,harga_awal,diskon*100))

total belanja anda adalah IDR 85500 (90000 di diskon 5.0 %)

In [18]:
harga_jeruk = 50000
standar_harga = 30000
# apabila jeruk lebih dari standar harga maka jeruk itu mahal dan apabila kurang dari standar harga maka jeruk itu murah, dan apabila hrg jeruk sama dengan standar maka biasa saja
if harga_jeruk>standar_harga:
    print('Mahal')
    print('Banget')
    print(1+1)
elif harga_jeruk<standar_harga:
    print('Murah')
elif harga_jeruk==standar_harga:
    print('Biasa')

Mahal
Banget
2

ONE-LINE IF-STATEMENTS

In [19]:
harga_jeruk = 20000
standar_harga = 30000
if harga_jeruk>standar_harga: print('Mahal');print('Banget');print(1+1)
elif harga_jeruk<standar_harga: print('Murah')
else: print('Biasa')

Murah

CONDITIONAL EXPRESSIONS

In [20]:
umur = 37
s = 'Tua' if umur >= 35 else 'Muda'
print(s)

Tua

In [21]:
nama = 'dian'
n = 'In Class' if nama in ['pramesti','adam'] else 'Out of Class'
print(n)

Out of Class

In [22]:
nama = 'dian'
n = 'In Class' if nama in ['pramesti','dian'] else 'Out of Class'
print(n)

In Class

In [23]:
#koemtar
xj = 3.00
print (xj)
print (type(xj))

3.0
<class 'float'>

quiz

Anda adalah seorang pemilik perusahaan dan Anda berniat untuk memberi bonus kepada pegawai Anda.
Buatlah program if-else yg memiliki kondisi, jika Year of Service seorang pegawai lebih dari 10 tahun,
maka gajinya akan diberi bonus sebesar 10%.

In [26]:
masakerja = float(input("masukan masa kerja karyawan dalam tahun: "))
gaji = float(input("masukan besaran gaji karyawan:"))
if masakerja>10:
    bonus = 0.1
    print("karyawan layak mendapat bonus 10% dari gaji")
else:
    bonus = 0
    print("karyawan tidak mendapat bonus")
    
print(f"jumlah bonus yang diberikan: {bonus*gaji:.2f}")

masukan masa kerja karyawan dalam tahun:  15
masukan besaran gaji karyawan: 200000

karyawan layak mendapat bonus 10% dari gaji
jumlah bonus yang diberikan: 20000.00

LOOP

- objek yang bisa di looping adalah itereble (string, list, tule, dictionary, dsb)
- loop keseluruhan iterasi objek 1 loop diatas 4 iterasi
- iterasi = istilah untuk 1 putaran loop
- continue akan memberhentikan iterasi dan lanjut ke iterasi selanjutnya
- break akan memberhentikan loop secara keseluruhan

In [27]:
for i in ['foo','bar','baz','qux','quux','corge']:
    print(i+'ayam')

fooayam
barayam
bazayam
quxayam
quuxayam
corgeayam

In [28]:
for i in [1,2,3,4]:
    print(i+1)

2
3
4
5

In [29]:
for i in 'dian':
    print(i)

d
i
a
n

WHILE LOOP

In [30]:
apel = 5
while apel>0:
    apel-=1
    print(apel)

4
3
2
1
0

In [31]:
apel = 6
apel -=1
print(apel)

5

In [32]:
apel = 5
while apel>0:
    apel-=1
    if apel ==1:
        print('woy tinggal 1 nih ati2 ya')
    else:
        print(apel)

4
3
2
woy tinggal 1 nih ati2 ya
0

break digunakan untuk memberhentikan loop

In [33]:
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        break
    print(apel)
print('Loop Ended')

4
3
Loop Ended

In [34]:
apel

2

continue digunakan untuk melanjutkan loop berdasarkan kondisi

In [35]:
apel = 5
while apel>0:
    apel-=1
    if apel ==2:
        continue
    print(apel)
print('Loop Ended')

4
3
1
0
Loop Ended

In [36]:
apel = 10
while apel>0:
    apel-=2
    print(apel)
else:
    print('loop ended')

8
6
4
2
0
loop ended

In [37]:
apel = 5
while apel>0:
    apel-=1
    print(apel)
    if apel==2:
        break
else:
    print('Loop Done')

4
3
2

NESTED IF-ELSE & LOOPS

In [38]:
#Nested IF
umur = 42
gender = 'M'
if umur <18:
    if gender == 'M':
        print('Son')
    else:
        print('Daughter')
if umur >=18 and umur <65:
    if gender == 'M':
        print('Dad')
    else:
        print('Mom')

Dad

ONE LINE WHILE LOOPS

In [39]:
apel = 5
while apel>0:apel-=1;print(apel)

4
3
2
1
0

FOR LOOP

In [40]:
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [41]:
b = ['Budi','Joko','Anwar']
for i in b:
    print(i)

Budi
Joko
Anwar

In [42]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    for j in i :
        print(j)

B
u
d
i
J
o
k
o
A
n
w
a
r

In [43]:
# Nested For Loop
b = ['Budi','Joko','Anwar']
for i in b:
    if i == 'Joko':
        break
    for j in i :
        print(j)

B
u
d
i

In [44]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a:
    if dictionary_a[i] == 'Bekasi':
        print(dictionary_a[i])

Bekasi

In [45]:
dictionary_a.keys()

dict_keys(['A', 'B', 'C'])

In [46]:
dictionary_a.values()

dict_values(['Bekasi', 'Jakarta', 'Medan'])

In [47]:
dictionary_a.items()

dict_items([('A', 'Bekasi'), ('B', 'Jakarta'), ('C', 'Medan')])

In [48]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.values():
    print(i)

Bekasi
Jakarta
Medan

In [49]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i in dictionary_a.keys():
    print(i)

A
B
C

In [50]:
dictionary_a = {'A':'Bekasi','B':'Jakarta','C':'Medan'}
for i,j in dictionary_a.items():
    print(i,j)

A Bekasi
B Jakarta
C Medan

In [51]:
#Continue
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        continue
    print(i)

Aster
Hachi

In [52]:
#Pass
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        pass
    print(i)

Aster
Jubah
Nambo
Hachi

In [53]:
#Break
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        break
    print(i)

Aster

In [54]:
for i in ['Aster','Jubah','Nambo','Hachi'] :
    print(i)
else:
    print('Loop Done')

Aster
Jubah
Nambo
Hachi
Loop Done

In [55]:
#Break 
for i in ['Aster','Jubah','Nambo','Hachi']:
    if 'b' in i:
        break
    print(i)
else:
    print('Loop Done')

Aster

In [56]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [57]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(i+j+k)

12
15
18

In [58]:
print(zip(a,b))

<zip object at 0x000002325ED05240>

quiz

Menggunakan while loop buatlah program sederhana, ketika bertemu dengan angka ganjil, maka print angkanya. ketika bertemu dengan angka genap, maka print "GENAP". batas angka 1-20

In [59]:
i = 1
while i <=20:
    if i % 2==1:
        print(i)
    else:
        print("GENAP")
    i+=1

1
GENAP
3
GENAP
5
GENAP
7
GENAP
9
GENAP
11
GENAP
13
GENAP
15
GENAP
17
GENAP
19
GENAP

In [62]:
# tugas
rows = int(input())
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

 10

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10